.idea/
__pycache__/
models/
base-model/
output/
dataset/*
!dataset/test.wav
!dataset/test_long.wav
test.py
tib_word_data/*
!tib_word_data/xb_conv_whisper.ipynb
!tib_word_data/convert_xb_data.py
whisper-large-v3/*
